<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Lista de Empleados</title>
    </head>
    <body>
        <div class="container">
            <div th:insert="fragments/menuFragment.html :: Historial de Empleados"></div>
            <h1>Historial de Empleados</h1>
            <form class="input-group mb-lg-3" method="post" th:action="@{}">                <!-- COMPLETAR -->
                <input type="text" class="form-control" name="buscar" id="buscar" placeholder="Texto a buscar">
                <div class="input-group-append">
                    <a class="btn btn-danger">Buscar</a>
                    <a class="btn btn-primary">Limpiar</a>
                </div>
            </form>

            <!-- COMPLETAR -->
            <!-- COMPLETAR -->
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Puesto</th>
                        <th>Departamento</th>
                        <th>Fecha Inicio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="employee : ${listaHistorial}">
                        <td th:text="${employee.first_name}"></td>
                        <td th:text="${employee.last_name}"></td>
                        <td th:text="${employee.job_title}"></td>
                        <td th:text="${employee.department}"></td>
                        <td th:text="${employee.hire_date}"></td>
                </tbody>
            </table>
        </div>
    </body>
</html>